body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1903px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:3531px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:3531px;
}
#u3 {
  position:absolute;
  left:2px;
  top:1758px;
  width:1899px;
  visibility:hidden;
  word-wrap:break-word;
}
