body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1636px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u624 {
  position:absolute;
  left:251px;
  top:15px;
  width:990px;
  height:73px;
}
#u625 {
  position:absolute;
  left:2px;
  top:28px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u626 {
  position:absolute;
  left:268px;
  top:24px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u627 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u628 {
  position:absolute;
  left:268px;
  top:52px;
  width:126px;
  height:22px;
}
#u628_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u628_input:disabled {
  color:grayText;
}
#u629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u629 {
  position:absolute;
  left:936px;
  top:24px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u630 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u631 {
  position:absolute;
  left:936px;
  top:52px;
  width:145px;
  height:25px;
}
#u631_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u632 {
  position:absolute;
  left:583px;
  top:24px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u633 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u634 {
  position:absolute;
  left:585px;
  top:52px;
  width:150px;
  height:22px;
}
#u634_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u634_input:disabled {
  color:grayText;
}
#u635 {
  position:absolute;
  left:758px;
  top:52px;
  width:150px;
  height:22px;
}
#u635_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u635_input:disabled {
  color:grayText;
}
#u636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u636 {
  position:absolute;
  left:742px;
  top:53px;
  width:9px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u637 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u638 {
  position:absolute;
  left:653px;
  top:26px;
  width:118px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u639 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u640 {
  position:absolute;
  left:1126px;
  top:49px;
  width:98px;
  height:25px;
}
#u640_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:822px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u641 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:822px;
}
#u642 {
  position:absolute;
  left:2px;
  top:403px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u643 {
  position:absolute;
  left:32px;
  top:24px;
  width:49px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u644 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:42px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u645 {
  position:absolute;
  left:0px;
  top:140px;
  width:112px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u646 {
  position:absolute;
  left:2px;
  top:13px;
  width:108px;
  word-wrap:break-word;
}
#u647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:42px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u647 {
  position:absolute;
  left:0px;
  top:98px;
  width:112px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u648 {
  position:absolute;
  left:2px;
  top:13px;
  width:108px;
  word-wrap:break-word;
}
#u649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u649 {
  position:absolute;
  left:0px;
  top:266px;
  width:112px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u650 {
  position:absolute;
  left:2px;
  top:13px;
  width:108px;
  word-wrap:break-word;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:42px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u651 {
  position:absolute;
  left:0px;
  top:182px;
  width:112px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u652 {
  position:absolute;
  left:2px;
  top:13px;
  width:108px;
  word-wrap:break-word;
}
#u653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:42px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u653 {
  position:absolute;
  left:0px;
  top:224px;
  width:112px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u654 {
  position:absolute;
  left:2px;
  top:13px;
  width:108px;
  word-wrap:break-word;
}
#u655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:834px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u655 {
  position:absolute;
  left:112px;
  top:-12px;
  width:122px;
  height:834px;
}
#u656 {
  position:absolute;
  left:2px;
  top:409px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u657 {
  position:absolute;
  left:112px;
  top:98px;
  width:122px;
  height:42px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u658 {
  position:absolute;
  left:2px;
  top:13px;
  width:118px;
  word-wrap:break-word;
}
#u659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u659 {
  position:absolute;
  left:112px;
  top:140px;
  width:122px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u660 {
  position:absolute;
  left:2px;
  top:13px;
  width:118px;
  word-wrap:break-word;
}
#u661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u661 {
  position:absolute;
  left:112px;
  top:182px;
  width:122px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u662 {
  position:absolute;
  left:2px;
  top:13px;
  width:118px;
  word-wrap:break-word;
}
#u663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u663 {
  position:absolute;
  left:112px;
  top:224px;
  width:122px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u664 {
  position:absolute;
  left:2px;
  top:13px;
  width:118px;
  word-wrap:break-word;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u665 {
  position:absolute;
  left:112px;
  top:266px;
  width:122px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u666 {
  position:absolute;
  left:2px;
  top:13px;
  width:118px;
  word-wrap:break-word;
}
#u667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u667 {
  position:absolute;
  left:428px;
  top:24px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u668 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u669 {
  position:absolute;
  left:426px;
  top:52px;
  width:126px;
  height:22px;
}
#u669_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u669_input:disabled {
  color:grayText;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u670 {
  position:absolute;
  left:1421px;
  top:80px;
  width:215px;
  height:132px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u672 {
  position:absolute;
  left:1014px;
  top:62px;
  width:0px;
  height:0px;
}
#u672_seg0 {
  position:absolute;
  left:-4px;
  top:-36px;
  width:8px;
  height:36px;
}
#u672_seg1 {
  position:absolute;
  left:-4px;
  top:-36px;
  width:523px;
  height:8px;
}
#u672_seg2 {
  position:absolute;
  left:511px;
  top:-36px;
  width:8px;
  height:54px;
}
#u672_seg3 {
  position:absolute;
  left:505px;
  top:4px;
  width:20px;
  height:21px;
}
#u673 {
  position:absolute;
  left:216px;
  top:-40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u674 {
  position:absolute;
  left:258px;
  top:182px;
  width:79px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u675 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u676 {
  position:absolute;
  left:446px;
  top:187px;
  width:300px;
  height:6px;
}
#u677 {
  position:absolute;
  left:2px;
  top:-5px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u678 {
  position:absolute;
  left:375px;
  top:182px;
  width:32px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u680 {
  position:absolute;
  left:257px;
  top:149px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u682 {
  position:absolute;
  left:375px;
  top:149px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u683 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u684 {
  position:absolute;
  left:258px;
  top:206px;
  width:79px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u686 {
  position:absolute;
  left:446px;
  top:210px;
  width:250px;
  height:6px;
}
#u687 {
  position:absolute;
  left:2px;
  top:-5px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u688 {
  position:absolute;
  left:375px;
  top:206px;
  width:32px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u689 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u690 {
  position:absolute;
  left:258px;
  top:228px;
  width:79px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u691 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u692 {
  position:absolute;
  left:446px;
  top:234px;
  width:268px;
  height:6px;
}
#u693 {
  position:absolute;
  left:2px;
  top:-5px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u694 {
  position:absolute;
  left:375px;
  top:228px;
  width:32px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u696 {
  position:absolute;
  left:258px;
  top:250px;
  width:79px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u698 {
  position:absolute;
  left:446px;
  top:255px;
  width:223px;
  height:6px;
}
#u699 {
  position:absolute;
  left:2px;
  top:-5px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u700 {
  position:absolute;
  left:375px;
  top:250px;
  width:32px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u702 {
  position:absolute;
  left:464px;
  top:308px;
  width:5px;
  height:126px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  white-space:nowrap;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u704 {
  position:absolute;
  left:258px;
  top:454px;
  width:79px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u705 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u706 {
  position:absolute;
  left:446px;
  top:459px;
  width:223px;
  height:6px;
}
#u707 {
  position:absolute;
  left:2px;
  top:-5px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u708 {
  position:absolute;
  left:375px;
  top:454px;
  width:32px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u710 {
  position:absolute;
  left:254px;
  top:108px;
  width:118px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u712 {
  position:absolute;
  left:258px;
  top:561px;
  width:149px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u714 {
  position:absolute;
  left:517px;
  top:567px;
  width:268px;
  height:6px;
}
#u715 {
  position:absolute;
  left:2px;
  top:-5px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u716 {
  position:absolute;
  left:446px;
  top:561px;
  width:32px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u718 {
  position:absolute;
  left:517px;
  top:588px;
  width:223px;
  height:6px;
}
#u719 {
  position:absolute;
  left:2px;
  top:-5px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u720 {
  position:absolute;
  left:446px;
  top:583px;
  width:32px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u721 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u722 {
  position:absolute;
  left:258px;
  top:583px;
  width:149px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u723 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u724 {
  position:absolute;
  left:258px;
  top:633px;
  width:56px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u725 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u726 {
  position:absolute;
  left:410px;
  top:637px;
  width:268px;
  height:6px;
}
#u727 {
  position:absolute;
  left:2px;
  top:-5px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u728 {
  position:absolute;
  left:339px;
  top:633px;
  width:32px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u730 {
  position:absolute;
  left:258px;
  top:653px;
  width:56px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u731 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u732 {
  position:absolute;
  left:410px;
  top:657px;
  width:268px;
  height:6px;
}
#u733 {
  position:absolute;
  left:2px;
  top:-5px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u734 {
  position:absolute;
  left:339px;
  top:653px;
  width:32px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u736 {
  position:absolute;
  left:258px;
  top:697px;
  width:56px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u738 {
  position:absolute;
  left:410px;
  top:701px;
  width:268px;
  height:6px;
}
#u739 {
  position:absolute;
  left:2px;
  top:-5px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u740 {
  position:absolute;
  left:339px;
  top:697px;
  width:32px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u742 {
  position:absolute;
  left:258px;
  top:717px;
  width:56px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u744 {
  position:absolute;
  left:410px;
  top:721px;
  width:268px;
  height:6px;
}
#u745 {
  position:absolute;
  left:2px;
  top:-5px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u746 {
  position:absolute;
  left:339px;
  top:717px;
  width:32px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u747 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
}
#u748 {
  position:absolute;
  left:258px;
  top:759px;
  width:32px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
}
#u749 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u750 {
  position:absolute;
  left:381px;
  top:763px;
  width:268px;
  height:6px;
}
#u751 {
  position:absolute;
  left:2px;
  top:-5px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
}
#u752 {
  position:absolute;
  left:310px;
  top:759px;
  width:32px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
}
#u753 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
}
#u754 {
  position:absolute;
  left:258px;
  top:779px;
  width:32px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
}
#u755 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u756 {
  position:absolute;
  left:381px;
  top:783px;
  width:268px;
  height:6px;
}
#u757 {
  position:absolute;
  left:2px;
  top:-5px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
}
#u758 {
  position:absolute;
  left:310px;
  top:779px;
  width:32px;
  height:18px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
}
#u759 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
