body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1582px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u50 {
  position:absolute;
  left:862px;
  top:100px;
  width:720px;
  height:1280px;
}
#u51 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u52 {
  position:absolute;
  left:100px;
  top:100px;
  width:720px;
  height:1280px;
}
#u53 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
