body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3241px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u36 {
  position:absolute;
  left:948px;
  top:100px;
  width:720px;
  height:1280px;
}
#u37 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u38 {
  position:absolute;
  left:100px;
  top:100px;
  width:720px;
  height:1280px;
}
#u39 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u40 {
  position:absolute;
  left:2521px;
  top:100px;
  width:720px;
  height:1280px;
}
#u41 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u42 {
  position:absolute;
  left:1744px;
  top:100px;
  width:720px;
  height:1280px;
}
#u43 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
