body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1611px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u32 {
  position:absolute;
  left:891px;
  top:100px;
  width:720px;
  height:1280px;
}
#u33 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:2008px;
}
#u34 {
  position:absolute;
  left:100px;
  top:100px;
  width:720px;
  height:2008px;
}
#u35 {
  position:absolute;
  left:2px;
  top:996px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
