body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1903px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:3531px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:3531px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1758px;
  width:1899px;
  visibility:hidden;
  word-wrap:break-word;
}
